footer{
    background-color: #444;
    margin-top: 50px;
    height: 100px;

    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h6{
            a{
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}